#app
{
  width: 500px;
  margin: auto;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    background: #eee;
    margin-bottom: 2px;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    text-decoration: line-through;

}


.header {
    padding: 30px 40px;
    color: black;
    text-align: center;
}


input {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
}
.removeTodo
{
    float: right;
    background-color: cornsilk;
    border: navajowhite;
    border-radius: 3px;
    color: darkred;
    padding: 3px;
}

.checked
{
    text-decoration: line-through;
}